<% layout("/layouts/boilerplate") %>
<div class="homePageWrapper d-flex flex-column justify-content-center align-items-center">
    <h1 style="text-align: center; color: white;">Welcome to YelpCamp!</h1>
    <p class="text-white" style="width: 90%; max-width: 600px;">Welcome to YelpCamp, your go-to destination for finding the best campsites and sharing your camping experiences with fellow outdoor enthusiasts! Our website is dedicated to providing a comprehensive database of campsite locations across the globe, complete with detailed descriptions, ratings, and reviews from real campers just like you. Whether you're a seasoned backpacker or a novice camper, YelpCamp offers a wealth of information to help you plan your next adventure and make the most of your time in the great outdoors. So come on in, browse our listings, and share your own experiences to help other campers find the perfect spot for their next adventure!</p>
    <a class="btn btn-primary" href="/campgrounds">View All Campgrounds</a>
</div> 
