<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp - Campground</title>
</head>
<body>
    <h1>Campground: <%= campground.title %> </h1>
    <h2>Location: <%= campground.location %> </h2>
    <a href="/campgrounds/<%=campground._id%>/edit"><button>Edit</button></a>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
    <a href="/campgrounds"><button>All Campgrounds</button></a>
</body>
</html>