<% layout("/layouts/boilerplate") %>
<div class="d-flex flex-column justify-content-center align-items-center text-white">

    <h1>Login</h1>
    <form action="/login" method="post" class="validated-form d-flex flex-column justify-content-center align-items-center my-3" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div> 